<h1>List of users</h1>

<ol>
  <% @users.each do |user| %>
    <li>
      <%= user.name %> <%= link_to "Edit", edit_user_path(user) %> <%= link_to "Delete", user_path(user), method: :delete %>
    </li>
  <% end %>
</ol>
