// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form {
  display: inline-block;
  min-width: 30%;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px;
  box-shadow: 10px 10px 5px #888888;

  input {
    min-width: 80%;
  }
}

.fields {
  margin: 2px 0;
}

.field_with_errors { 
  display: inline; 
}

#error_messages {
  color: red;
}

.red {
  color: red;
}

.amber {
  color: orange;
}

.green {
  color: green;
}


